! Xcursor settings
Xcursor.theme: Neutral

.font: -*-tamsyn-medium-*-*-*-12-*-*-*-*-*-*-*

! When using xterm, report 256colors to programs.
XTerm*termName: xterm-256color

! Use a large scroll buffer.
XTerm*saveLines: 5096

! Allow scroll single lines with shift-{up,down}.
*VT100.Translations: #override Shift <Key>Up: scroll-back(1) \n\
                               Shift <Key>Down: scroll-forw(1)

! Blink on bell
XTerm*bellIsUrgent: true

! Allow UTF-8 titles
XTerm*utf8Title: true
